html, body {
    margin: 0;
    padding: 0;
    font-family: 'arial', Times, serif;
}

h1 {
    margin-left: 12px;
    text-align: center;
}

#form-content {
    background-color: #fff;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    top: 50%;
    left: 50%;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 12px;
    resize: vertical;
}

input[type=submit] {
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 8px;
    border-radius: 22px;
    font-size: 18px;
    transition: 0.2s ease;
    text-decoration: none;
}

input[type=submit]:hover {
    color: black;
    background-color: white;
}